1. Each answer for 1-i.~ 1-xxii. should be

i.
7

ii. 
7.0

iii.
2

iv.
72

v.
7.333333333333333

vi.
7

vii.
1

viii.
4

ix.
4.0

x.
4.0

xi.
hello

xii.
<class 'int'>

xiii.
<class 'float'>

xiv
<class 'int'>

xv.
<class 'int'>

xvi.
<class 'float'>

xvii.
<class 'int'>

xviii.
<class 'int'>

xix.
<class 'int'>

xx.
<class 'float'>

xxi.
<class 'float'>

xxii.
<class 'str'>

2. Each answer for 2-i. and 2-ii. should be

i.
assert(22 == 3*e+f)

ii.
assert(g2 == g3)

3. The answer for 3 should be

str_quotation = 'Hello, World! It\'s me \n"Hi"'

4. Each answer for 4-i. ~ 4-v. should be

i.
['a', 'b', 'c']

ii.
[1, 2, 3.0]

iii.
<class 'list'>

iv.
<class 'str'>

v.
<class 'float'>

Code

In [6]:
#1
a1 = 3 + 4
a2 = 3 + 4.
b = 4 - 2
c = 9 * 8
d = 22 / 3
e = 22 // 3
f = 22 % 3
g1 = 2**2
g2 = 2.**2
g3 = 2**2.
h = "hello"
a1t = type(a1)
a2t = type(a2)
bt = type(b)
ct = type(c)
dt = type(d)
et = type(e)
ft = type(f)
g1t = type(g1)
g2t = type(g2)
g3t = type(g3)
ht = type(h)

In [7]:
print(a1,a2,b,c,d,e,f,g1,g2,g3,h,a1t,a2t,bt,ct,dt,et,ft,g1t,g2t,g3t,ht ,sep='\n')

7
7.0
2
72
7.333333333333333
7
1
4
4.0
4.0
hello
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>

In [8]:
#2
assert(22==3*e+f)
assert(g2 == g3)

In [9]:
#3
str_quotation = 'Hello, World! It\'s me \n"Hi"'

In [10]:
print(str_quotation)

Hello, World! It's me
"Hi"

In [11]:
#4
L_str = ["a", "b", "c"]
L_num = [1, 2, 3.]
tLs = type(L_str)
tLs0 = type(L_str[0])
tLn2 = type(L_num[-1])

In [12]:
print(L_str,L_num,tLs,tLs0,tLn2,sep='\n')

['a', 'b', 'c']
[1, 2, 3.0]
<class 'list'>
<class 'str'>
<class 'float'>